RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . / [L,R=301]

<ifModule mod_headers.c>

# Не кэшировать PHP, HTML, XML
<FilesMatch "\.(php|html|htm|xml)$">
Header set Cache-Control "no-store, no-cache, max-age=0"
</FilesMatch>

# Кэшировать изображения 1 месяц 
<FilesMatch "\.(gif|ico|jpg|jpeg|png|svg)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>

# Кэшировать CSS и JS 1 неделю 
<FilesMatch "\.(js|css)$">
Header set Cache-Control "max-age=604800"
</FilesMatch>

# Кэшировать шрифты 1 месяц
<FilesMatch "\.(woff|woff2|eot|otf|ttf)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>

</ifModule>
<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 148.72.26.173
deny from 198.71.228.23
