.about {
  display: flex;
  padding: 100px 0 120px;
  background-color: #fff;
  text-align: center;
  align-items: center;

  &-item {
    text-align: start;
    align-items: center;
  }

  img {
    width: 100%;
  }

  h2 {
    padding-bottom: 54px;
  }

  h4 {
    color: $dark-blue;
    font-weight: 700;
  }

  p {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 70px 0 90px;
    p {
      margin-top: 20px;
    }
    h2 {
      padding-bottom: 24px;
    }
  }
}