.hero {
  display: flex;
  padding: 120px 0;
  background: url("/assets/images/hero.webp") center center no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  h1 {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  h5 {
    color: $blue;
    font-weight: 600;
    line-height: 1.5;
  }
  p {
    max-width: 590px;
    margin: 24px 0;
  }
  span {
    color: $green;
  }
  &-bottom {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 36px 0 0 0;
  }
}

.badges {
  img {
    height: 150px;
    width: auto;
    margin: 0 0 0 80px;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transform-origin: bottom;
  }

  .bounce {
      animation-name: bounce;
      animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  }

  @keyframes bounce {
      0%   { transform: scale(1,1)      translateY(0); }
      10%  { transform: scale(1.1,.95)   translateY(0); }
      30%  { transform: scale(.95,1.1)   translateY(-70px); }
      50%  { transform: scale(1,.95) translateY(0); }
      57%  { transform: scale(1,1)      translateY(-5px); }
      64%  { transform: scale(1,1)      translateY(0); }
      100% { transform: scale(1,1)      translateY(0); }
  }
}

@media (max-width: 767px) {
  .hero {
    padding: 100px 0;

    h1 {
      font-size: 2.25rem;
    }
    &-bottom {
      flex-direction: column;
    }
  }

  .badges {
    margin-top: 20px;
    img {
      height: 100px;
      margin: 0;
    }
  }
}
