.hero {
  display: flex;
  padding: 200px 0;
  align-items: center;
  background: rgba(54, 54, 54, .8) url("/assets/images/hero.webp") center center no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  text-align: center;

  h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
  }

  p {
    color: #ffffff;
    max-width: 590px;
    margin: 24px auto;
  }
}

@media (max-width: 767px) {
  .hero {
    padding: 100px 0;
  }
}