.services {
  color: #fff;
  padding: 100px 0 120px;
  background-color: $black;
  text-align: center;

  .title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }

  p {
    font-size: 0.879rem;
    margin-bottom: 54px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $green;
    background-color: rgba(255, 255, 255, 0.08);
    img {
      width: 100%;
    }
    h5 {
      margin: 30px 0;
    }
  }
}

@media (max-width: 768px) {
  .services {
    padding: 80px 0;
    &-item {
      margin: 10px 0;
    }
  }
}