.testimonials {
  padding: 100px 0;
  background-color: $grey;

  .title {
    text-align: center;
    margin-bottom: 54px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 20px 5px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fff;

    .headline {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      h6 {
        color: $black;
        font-weight: 700;
        margin: 0;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }

    img {
      max-width: 110px;
    }

    p {
      margin-top: 16px;
      font-size: 0.875rem;
    }
  }
}