html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #201E1F;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #201E1F;
}

p {
  line-height: 1.7;
}

.btn {
  box-shadow: none !important;
}

.main-btn {
  padding: 15px 20px;
  border: none;
  font-weight: 500;
  color: #ffffff;
  background-color: #007bff;
}
.main-btn:hover {
  background-color: #29348E;
}

.title {
  color: #201E1F;
  font-size: 2.25rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .main-btn {
    display: flex;
    justify-content: center;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
header {
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(46, 62, 72, 0.12), 0 0 2px 0 rgba(46, 62, 72, 0.12);
}
header p {
  margin-bottom: 0;
}
header .pre-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  padding: 8px 40px;
  background-color: #201E1F;
}
header .pre-header span {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
header .pre-header svg {
  color: #009688;
  height: 12px;
  margin: 0 6px;
}
header .pre-header a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.1s linear;
}
header .pre-header a:hover {
  color: #007bff;
}
header .pre-header a, header .pre-header p {
  font-size: 0.875rem;
  font-weight: 500;
}
header .navbar {
  padding: 15px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .navbar-brand {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
header .navbar-brand img {
  height: 55px;
  margin-right: 10px;
}
header .navbar-brand p {
  font-weight: 700;
}
header .navbar-collapse {
  justify-content: flex-end;
}
header .navbar-nav {
  padding-right: 40px;
}
header .navbar-nav .nav-item .nav-link {
  padding: 0 20px;
  font-weight: 600;
  color: #201E1F;
  transition: all 0.1s linear;
}
header .navbar-nav .nav-item .nav-link:hover {
  color: #007bff;
}

@media (max-width: 767px) {
  header .pre-header {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
  }
  header .pre-header span {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  header .navbar {
    padding: 15px;
  }
  header .navbar-collapse {
    position: absolute;
    padding: 0 20px;
    top: 69px;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(46, 62, 72, 0.12);
  }
  header .navbar-nav {
    padding: 20px 20px 30px;
  }
  header .navbar-nav .nav-item .nav-link {
    padding: 15px 0;
    font-size: 1.2rem;
  }
  header .navbar-book {
    margin-bottom: 24px;
  }
}
.hero {
  display: flex;
  padding: 200px 0;
  align-items: center;
  background: rgba(54, 54, 54, 0.8) url("/assets/images/hero.webp") center center no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  text-align: center;
}
.hero h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 600;
}
.hero p {
  color: #ffffff;
  max-width: 590px;
  margin: 24px auto;
}

.badges {
  margin-top: 120px;
}
.badges img {
  height: 150px;
  width: auto;
  margin: 0 20px;
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.badges .bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
.badges .delay-1 {
  animation-delay: 0.5s;
}
.badges .delay-2 {
  animation-delay: 1s;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.95) translateY(0);
  }
  30% {
    transform: scale(0.95, 1.1) translateY(-70px);
  }
  50% {
    transform: scale(1, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-5px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@media (max-width: 767px) {
  .hero {
    padding: 100px 0;
  }
}
.offers {
  color: #fff;
  padding: 80px 0;
  background-color: #201E1F;
}
.offers .title {
  text-align: center;
  margin-bottom: 54px;
  color: #ffffff;
}
.offers-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 56px 0 40px;
  border-radius: 4px;
  border: 1px solid #009688;
  transition: all 0.2s linear;
  background-color: rgba(255, 255, 255, 0.08);
}
.offers-item:hover {
  border: 1px solid #007bff;
}
.offers-item h6 {
  margin: 12px 0;
}
.offers-item h2, .offers-item h3 {
  font-weight: 600;
}

@media (max-width: 768px) {
  .offers-item {
    height: unset;
    margin: 10px 0;
  }
}
.about {
  display: flex;
  padding: 100px 0 120px;
  background-color: #fff;
  text-align: center;
  align-items: center;
}
.about-item {
  text-align: start;
  align-items: center;
}
.about img {
  width: 100%;
}
.about h2 {
  padding-bottom: 54px;
}
.about h4 {
  color: #29348E;
  font-weight: 700;
}
.about p {
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .about {
    padding: 70px 0 90px;
  }
  .about p {
    margin-top: 20px;
  }
  .about h2 {
    padding-bottom: 24px;
  }
}
.services {
  color: #fff;
  padding: 100px 0 120px;
  background-color: #201E1F;
  text-align: center;
}
.services .title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.services p {
  font-size: 0.879rem;
  margin-bottom: 54px;
}
.services-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #009688;
  transition: all 0.2s linear;
  background-color: rgba(255, 255, 255, 0.08);
}
.services-item:hover {
  border: 1px solid #007bff;
}
.services-item img {
  width: 100%;
}
.services-item h5 {
  margin: 30px 0;
}

@media (max-width: 768px) {
  .services {
    padding: 80px 0;
  }
  .services-item {
    margin: 10px 0;
  }
}
.counter {
  padding: 100px 0;
  color: #fff;
  text-align: center;
  background: rgba(54, 54, 54, 0.8) url("/assets/images/hero.webp") no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.counter .title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.counter p {
  font-size: 0.879rem;
  margin-bottom: 54px;
}
.counter .counter-item:hover svg {
  color: #009688;
}
.counter .counter-item svg {
  height: 29px;
  width: 24px;
  transition: all 0.1s linear;
}
.counter .counter-item .years {
  animation: years 2s linear;
}
.counter .counter-item .repairs {
  animation: repairs 2s linear;
}
.counter .counter-item .workers {
  animation: workers 2s linear;
}
.counter #years, .counter #repairs, .counter #workers {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  counter-reset: num var(--num);
  font-weight: 800;
  font-size: 2.5rem;
  padding: 16px;
}
.counter #years::after, .counter #repairs::after, .counter #workers::after {
  content: counter(num) "+";
}
@keyframes years {
  from {
    --num: 0;
  }
  to {
    --num: 25;
  }
}
@keyframes repairs {
  from {
    --num: 0;
  }
  to {
    --num: 45000;
  }
}
@keyframes workers {
  from {
    --num: 0;
  }
  to {
    --num: 40;
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.brands {
  padding: 100px 0;
  text-align: center;
}
.brands .title {
  margin-bottom: 54px;
}
.brands-item {
  margin-bottom: 24px;
}
.brands-item img {
  width: 160px;
}

@media (max-width: 768px) {
  .brands {
    padding: 80px 0;
  }
  .brands .title {
    margin-bottom: 34px;
  }
}
.appointment {
  padding: 120px 0;
  text-align: center;
  background: rgba(54, 54, 54, 0.8) url("/assets/images/hero.webp") no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.appointment h2 {
  color: #fff;
  margin-bottom: 80px;
}
.appointment h4 {
  color: #fff;
  margin: 24px 0;
  font-weight: 600;
}
.appointment img {
  width: 100%;
}
.appointment .order-form {
  border-radius: 5px;
  padding: 32px 20px;
  background-color: #fff;
}
.appointment .order-form legend {
  color: #201E1F;
  font-weight: 700;
  margin-bottom: 16px;
}
.appointment .order-form p {
  color: #201E1F;
  text-align: start;
  font-weight: 600;
  font-size: 1rem;
  margin: 10px 0 8px 1px;
}
.appointment .order-form i {
  color: red;
}
.appointment .order-form .form-check {
  margin: 0px 8px 5px 5px;
}
.appointment .order-form .error {
  color: red;
  font-size: 0.75rem;
  display: flex;
}
.appointment .order-form-btn {
  padding: 16px 40px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .appointment {
    padding: 80px 0;
  }
  .appointment h2 {
    margin-bottom: 34px;
  }

  .order-form {
    margin-bottom: 40px;
  }
}
.testimonials {
  padding: 100px 0;
  background-color: #f7f7f7;
}
.testimonials .title {
  text-align: center;
  margin-bottom: 54px;
}
.testimonials-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 20px 5px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #fff;
  transition: all 0.2s linear;
}
.testimonials-item:hover {
  border: 1px solid #007bff;
}
.testimonials-item .headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.testimonials-item .headline h6 {
  color: #201E1F;
  font-weight: 700;
  margin: 0;
}
.testimonials-item .headline img {
  width: 40px;
  height: 40px;
}
.testimonials-item img {
  max-width: 110px;
}
.testimonials-item p {
  margin-top: 16px;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .testimonials {
    padding: 80px 0;
  }
  .testimonials .title {
    margin-bottom: 34px;
  }
  .testimonials-item {
    height: unset;
    margin: 10px 0;
  }
}
footer {
  padding: 50px 0 30px;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: #201E1F;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  color: #929292;
  font-size: 0.75rem;
}
footer .copyright a {
  color: #929292;
  margin-left: 16px;
  text-decoration: none;
  transition: all 0.1s linear;
}
footer .copyright a:hover {
  color: #007bff;
}

@media (max-width: 767px) {
  footer {
    padding: 30px 0;
  }
  footer .copyright {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
